attrs==22.2.0
autopep8==2.0.1
aws-cdk-lib==2.58.0
aws-cdk.asset-awscli-v1==2.2.44
aws-cdk.asset-kubectl-v20==2.1.1
aws-cdk.asset-node-proxy-agent-v5==2.0.38
boto3==1.26.40
botocore==1.29.40
cattrs==22.2.0
cdk-dynamo-table-view==0.2.0
click==8.1.3
constructs==10.1.203
Flask==2.2.2
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsii==1.72.0
MarkupSafe==2.1.1
publication==0.0.3
pycodestyle==2.10.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
typeguard==2.13.3
typing_extensions==4.4.0
urllib3==1.26.13
Werkzeug==2.2.2
